[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
wheel = "*"
mongoengine = "*"
kombu = "*"
celery = {extras = ["librabbitmq"], version = "*"}
flask-login = "*"
dynaconf = "*"
flask-rebar = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
